/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * ag-book-pro:
 *   - http://typekit.com/eulas/00000000000000003b9aeea2
 *   - http://typekit.com/eulas/00000000000000003b9aeea3
 *   - http://typekit.com/eulas/00000000000000003b9aeea5
 * akzidenz-grotesk:
 *   - http://typekit.com/eulas/000000000000000000013630
 *   - http://typekit.com/eulas/000000000000000000013633
 *   - http://typekit.com/eulas/000000000000000000013634
 *   - http://typekit.com/eulas/000000000000000000013635
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2018-12-07 17:08:02 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=jca0jcg&ht=tk&f=19118.19121.19122.19123.32283.32284.32286&a=8166073&app=typekit&e=css");

@font-face {
    font-family: "akzidenz-grotesk";
    src: url("https://use.typekit.net/af/d25e62/000000000000000000013630/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/d25e62/000000000000000000013630/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/d25e62/000000000000000000013630/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "akzidenz-grotesk";
    src: url("https://use.typekit.net/af/9d033e/000000000000000000013633/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/9d033e/000000000000000000013633/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/9d033e/000000000000000000013633/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "akzidenz-grotesk";
    src: url("https://use.typekit.net/af/de933f/000000000000000000013634/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"), url("https://use.typekit.net/af/de933f/000000000000000000013634/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"), url("https://use.typekit.net/af/de933f/000000000000000000013634/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "akzidenz-grotesk";
    src: url("https://use.typekit.net/af/5556ca/000000000000000000013635/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/5556ca/000000000000000000013635/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/5556ca/000000000000000000013635/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "ag-book-pro";
    src: url("https://use.typekit.net/af/81481a/00000000000000003b9aeea2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/81481a/00000000000000003b9aeea2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/81481a/00000000000000003b9aeea2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "ag-book-pro";
    src: url("https://use.typekit.net/af/031006/00000000000000003b9aeea3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/031006/00000000000000003b9aeea3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/031006/00000000000000003b9aeea3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "ag-book-pro";
    src: url("https://use.typekit.net/af/260bfa/00000000000000003b9aeea5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/260bfa/00000000000000003b9aeea5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/260bfa/00000000000000003b9aeea5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
    font-style: normal;
    font-weight: 500;
}

.tk-akzidenz-grotesk {
    font-family: "akzidenz-grotesk", sans-serif;
}

.tk-ag-book-pro {
    font-family: "ag-book-pro", sans-serif;
}


